body{
	margin: 0;
	padding: 0;
	height: 100vh;
}

#particles-js{
	height: 100%;
	/*background-color: black;*/
	/*background-color: firebrick;*/
	background-image: url(earth.jpg);
	/*background-image: url(moon.jpeg);*/
}