body{
	margin: 0;
	padding: 0;
	height: 100vh;
}

#particles-js{
	height: 100%;
	/*background-color: black;*/
	/*background-image: url(https://images.pexels.com/photos/2422/sky-earth-galaxy-universe.jpg?h=350&auto=compress&cs=tinysrgb);*/
	background-image: url(moon.jpeg);
}